<div>
   <p> Your cart </p>
</div>
<div>
   <% if @products.size > 0 %>
      <% @products.each do |product,count| %>
         <p> <%= product.full_name %> </p>
         <p> count: <%= count  %> </p>
         <p> Price for one: <%= product.price %> </p>
         <form method="POST" action="/cart">
            <input name="del_pr_name" value="<%= product.name_id %>" type="hidden">
            <input type="submit" value="Delete product">
         </form>
      <% end %>
      <p> ------------------------------------------------------------------ </p>
      <p> Total price: <%= @total_price %> </p>
      <p> ------------------------------------------------------------------ </p>
      <form method="POST" action="/cart">
         <input name="clear" type="hidden">
         <input type="submit" value="Remove all products">
      </form>
      <p> ------------------------------------------------------------------ </p>
      <form method="POST" action="/order">
         <input name="create_an_order" type="hidden">
         <input type="submit" value="Create an order">
      </form>
   <% else %>
      <p> Your cart is empty </p>
   <% end %>
</div>
<div>
   <p> <a href='/'>( Home page )</a></p>
</div>
